<!DOCTYPE html>

<html ng-app="yelp">


   <head>

      <link href="/public/css/main.css" rel="stylesheet" type="text/css">  
   </head>

   <body>
   <p>  I am {[{4 + 6}]} </p>
    <form id="findStores">
  <input type="text" id="searchBar">
  <button type="submit">Search</button>
</form>
     <div id="display">
       
     </div>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
   
    <script type="text/javascript" src=" https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script type="text/javascript" src="/controllers/yelpController.client.js"></script>   
   </body>

</html>