/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}


.image{
  float: left; 
  width: 250px; 
  height: 250px; 
}

.container{
  clear: both; 
  position: relative; 
}

